@media (max-width: 1200px) {
  .container {
    padding-left: 50px;
    padding-right: 50px;
  }

  .header {
    position: relative;
    z-index: 10;
  }

  .header__top {
    align-items: center;
    margin-bottom: 0;
    padding-bottom: 18px;
    padding-top: 3px;
  }

  .header__burger {
    display: block;
    position: relative;
    z-index: 5;
    width: 36px;
    height: 28px;
  }

  .header__burger span {
    background-color: #fff;
    position: absolute;
    width: 79%;
    height: 3.65px;
    left: 0;
    top: 7px;
    transition: transform .3s ease-in-out;
  }

  .header__burger::before,
  .header__burger::after {
    content: "";
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 3.65px;
    left: 0;
    transition: transform .3s ease-in-out;
  }

  .header__burger::before {
    top: -5px;
  }

  .header__burger::after {
    bottom: 5px;
    width: 68%;
  }

  .header__burger.active::before {
    transform: rotate(45deg);
    top: 15px;
  }

  .header__burger.active::after {
    transform: rotate(-45deg);
    bottom: 9px;
    width: 100%;
  }

  .header__burger.active span {
    transform: scale(0);
  }

  .header__nav {
    flex-direction: column;
    position: fixed;
    z-index: 20;
    left: 0;
    right: 0;
    top: -100%;
    height: 100%;
    padding-bottom: 25px;
    background-color: rgba(0, 0, 0, 0.9);
    width: 100%;
    transition: top .5s ease-in-out, opacity .7s ease-in-out;
    opacity: 0;
    overflow: auto;
  }

  .header__nav.active {
    top: 100px;
    opacity: 1;
    padding-bottom: 120px;
  }

  .nav__list {
    position: relative;
    display: block;
    right: 15%;
    padding-top: 20px;
  }

  .nav__item {
    font-weight: 600;
    font-size: 24px;
    line-height: 64px;
  }

  .nav__item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 15px;
  }

  .nav__item:last-child {
    margin-bottom: 60px;
  }

  .nav__btn {
    position: relative;
    right: 35%;
    font-weight: 600;
    border: 2px solid #9D5CD0;
    border-radius: 100px;
    padding: 22px 90px;
  }

  .header__logo {
    width: 22%;
  }

  .header__menu {
    display: none;
  }

  .header__form {
    display: inline-block;
  }

  .btn-open__active {
    opacity: 0;
  }

  .header__form-search {
    display: flex;
    align-items: center;
    position: absolute;
    z-index: 5;
    top: 15%;
    right: 10px;
    width: 27%;
    background-color: #000;
    padding: 16px 13px 16px 32px;
    opacity: 0;
    visibility: hidden;
    transition: transform .3s ease-in-out, opacity .3s ease-in-out .2s, visibility .3s ease-in-out .2s;
    transform: translateY(-20%);
  }

  .header__search-input {
    width: 100%;
    border: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.85);
    margin-right: 14px;
    outline: none;
    color: #fff;
    background-color: inherit;
  }

  .header__search-input:focus-visible {
    outline: 0;
    opacity: 0.8;
  }

  .header__search-input:-moz-focusring {
    outline: 0;
    opacity: 0.8;
  }

  .btn-submit {
    margin-right: 10px;
  }

  .btn-open {
    transition: opacity .3s ease-in-out;
  }

  .btn__open:active:not(:focus-visible) {
    opacity: 0;
  }

  .form-menu {
    min-width: 100%;
    display: flex;
    align-items: center;
  }

  .form__active {
    transform: translate(0, 0);
    opacity: 1;
    visibility: visible;
    background-color: #000;
  }

  .hero {
    position: relative;
    z-index: 1;
    min-height: 667px;
    margin-bottom: 34px;
  }

  .hero__title {
    padding-top: 112px;
    margin-bottom: 13px;
  }

  .hero__descr {
    width: 80%;
    margin-bottom: 153px;
  }

  .hero__link {
    color: #fff;
  }

  .hero__swiper {
    top: 0;
    min-height: 667px;
  }

  .hero__container {
    padding-left: 50px;
    padding-right: 50px;
  }

  .aboutUs {
    padding-top: 34px;
  }

  .aboutUs__descr {
    width: 100%;
  }

  .gallery {
    min-height: 560px;
  }

  .gallery__filters {
    width: 43%;
  }

  .gallery__choices {
    width: 85%;
    margin-bottom: 108px;
  }

  .choices__list--dropdown .choices__item, .choices__list[aria-expanded] .choices__item:not(:last-child) {
    margin-bottom: 5px;
  }

  .gallery__swiper .swiper-slide::before {
    width: 82%;
    height: 68%;
  }

  .popup__content {
    max-width: 595px;
    min-height: 595px;
  }

  .popup__img img {
    max-width: 264px;
  }

  .catalog__descr {
    max-width: 100%;
  }

  .catalog__accordion {
    width: 90%;
  }

  .catalog__content img {
    width: 90%;
  }

  .accordion__bottom-text {
    align-content: space-between;
    max-height: 400px;
    width: 100%;
  }
  
  .catalog {
    padding-bottom: 37px;
  }

  .events {
    padding-bottom: 40px;
  }

  .events__title {
    margin-bottom: 1.8%;
  }

  .swiper-img1::before {
    background-image: url(../img/events-swiper1\(1200\).jpg)
  }

  .swiper-img2::before {
    background-image: url(../img/events-swiper2\(1200\).jpg);
  }

  .swiper-img3::before {
    background-image: url(../img/events-swiper3\(1200\).jpg);
  }

  .swiper-img4::before {
    background-image: url(../img/events-swiper4\(1200\).jpg);
  }

  .swiper-img5::before {
    background-image: url(../img/events-swiper5\(1200\).jpg);
  }

  .content__info::before {
    height: 60.5%;
  }

  .swiper__content {
    padding-top: 23%;
    min-height: 681px;
  }

  .content__info {
    padding: 0 11.6% 45px 11.6%;
    align-items: flex-end;
    min-height: 420px;
  }

  .content__info::before {
    bottom: 103.3%;
  }

  .content__address {
    text-align: end;
    margin-bottom: 4px;
  }

  .contacts__address-home {
    margin-bottom: 0;
  }

  .content__title {
    margin-bottom: 7px;
  }

  .content__link {
    align-self: flex-start;
  }

  .events-button-next,
  .events-button-prev {
    display: none;
  }

  .events-pagination span {
    width: 10px;
    height: 10px;
    background-color: #cacaca;
  }

  .events-pagination.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
  .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 15px 0 0;
  }

  .events-pagination.swiper-horizontal>.swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal,
  .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: -51px;
    left: 8px;
  }

  .events-pagination.swiper-pagination-bullet.swiper-pagination-bullet-active,
  .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: #666;
  }

  .projects__descr {
    max-width: 100%;
  }

  .projects__slide {
    min-height: 128px;
  }

  .projects__swip {
    padding: 0 53px;
  }

  .projects__tooltip {
    width: 16px;
    height: 16px;
  }

  .contacts {
    padding-top: 28px;
  }

  .contacts__address {
    height: 60px;
  }

  .contacts__top {
    min-height: 298px;
    margin-bottom: 15px;
  }

  .address-btn{
    padding: 0 43px;
  }

  .contacts__map {
    padding-top: 0;
  }

  .footer__social svg {
    height: 60px;
    width: 60px;
  }

  .footer__link:not(:last-child) {
    margin-right: 25px;
  }

  .footer__content {
    align-items: center;
    padding-top: 38px;
    padding-bottom: 30px;
  }

  .ymaps-2-1-79-map .ymaps-2-1-79-i-ua_js_yes .ymaps-2-1-79-map-bg .ymaps-2-1-79-islets_map-lang-ru {
    height: 700px;
  }
}



@media (max-width: 950px) {
  .header__top {
    padding-bottom: 18px;
  }

  .header__logo {
    width: 30%;
  }

  .nav__btn {
    right: 29%;
  }

  .form__active {
    width: 97%;
  }

  .header__nav.active {
    top: 90px;
  }

  .form-menu {
    width: 100%;
    display: flex;
  }

  .header__search-input {
    width: 86%;
  }

  .header__form-search {
    right: 0;
    width: 100%;
  }

  .hero__descr {
    width: 100%
  }

  .gallery {
    min-height: 889px;
    background-image: url(../img/gallery-img\(950\).png);
  }

  .gallery__contetnt {
    flex-direction: column;
  }

  .gallery__choices {
    width: 98%;
    margin-bottom: 41px;
  }

  .gallery__swiper {
    width: 100%;
    padding-top: 38px;
  }

  .gallery__swiper .swiper-slide::before {
    height: 82%;
  }

  .popup__content {
    max-width: 668px;
  }

  .popup__img img {
    max-width: 301px;
  }

  .catalog__bottom {
    flex-direction: column-reverse;
  }

  .catalog__descr {
    margin-bottom: 21px;
  }

  .catalog__accordion {
    width: 100%;
    margin-bottom: 50px;
  }

  .accordion__bottom-text {
    align-content: space-between;
    max-height: 300px;
    width: 100%;
  }

  .tabs-none {
    min-height: 300px;
    height: 100%;
    width: 100%;
    margin-right: 0;
  }

  .catalog__content img {
    width: 100%;
    margin-right: 0;
  }

  .catalog__text {
    max-width: 100%;
  }

  .events__title {
    margin-bottom: 2.8%;
  }

  .swiper__content {
    padding-top: 32%;
  }

  .content__title {
    margin-bottom: 3px;
  }

  .content__info::before {
    bottom: 104%;
  }

  .content__info {
    padding: 0 15px 45px 36px;
  }

  .projects__descr {
    margin-bottom: 28px;
  }

  .projects__caption {
    margin-bottom: 30px;
  }

  .projects__slide {
    min-height: 105px;
  }

  .projects-img {
    width: 83%;
    height: 50px;
  }

  .contacts {
    padding-top: 42px;
  }

  .contacts__top {
    margin-bottom: 35px;
  }

  .contacts__address {
    height: 66px;
    margin-bottom: 31px;
  }

  .contacts__address-name {
    margin-bottom: 3px;
  }

  .contacts__address-form {
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .contacts__container-input:not(:last-child) {
    margin-right: 0;
  }

  .contacts__container-input:first-child {
    margin-right: 20px;
  }

  .contacts__container-input {
    width: 48.5%;
    margin-bottom: 28px;
  }

  .address-btn{
    width: 47.5%;
    padding: 0;
    margin-bottom: 32px;
    margin-right: 65px;
  }

  .choices__list--dropdown, .choices__list[aria-expanded] {
    background-color: #666;
    border-color: initial;
  }

}

@media (max-width: 650px) {
  .title {
    font-size: 28px;
    line-height: 38px;
  }

  .container {
    padding: 0 15px;
  }

  .header {
    padding-top: 6px;
  }

  .header__top {
    padding-bottom: 5px;
  }

  .header__burger {
    width: 25px;
  }

  .header__nav {
    top: -1400%;
  }

  .header__burger::before,
  .header__burger::after,
  .header__burger span {
    height: 2px;
  }

  .header__burger::before {
    top: 2px;
  }

  .header__burger span {
    top: 10px;
    width: 63%;
  }

  .header__burger::after {
    bottom: 8px;
    width: 45%;
  }

  .header__burger.active::before {
    top: 17px;
  }

  .header__nav.active {
    top: 45px;
  }

  body.lock {
    overflow: hidden;
  }

  .nav__item {
    font-size: 16px;
    line-height: 32px;
  }

  .nav__btn {
    right: 30%;
    padding: 11px 31px;
    font-size: 12px;
    line-height: 16px;
  }

  .nav__btn svg {
    width: 9px;
    height: 9px;
  }

  .form__active {
    width: 100%;
    max-height: 85px;
    background-color: rgb(24, 26, 27, 0.9);
  }


  .header__form-search {
    top: 5%;
    width: 100%;
    padding: 16px 20px;
    background-color: rgb(24, 26, 27, 0.9);
  }

  .btn-submit svg {
    width: 16px;
    height: 16px;
  }

  .btn-closed svg {
    width: 15px;
    height: 15px;
  }

  .header__logo {
    width: 97px;
    height: 25px;
  }

  .btn-open svg {
    width: 18px;
    height: 18px;
  }

  .hero {
    min-height: 310px;
    margin-bottom: 24px;
  }

  .hero__content {
    padding-bottom: 0;
  }

  .hero__container {
    display: flex;
    min-height: 310px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-right: 25px;
    padding-left: 25px;
    text-align: center;
  }

  .hero__title {
    width: 100%;
    padding-top: 25px;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
  }

  .hero__descr {
    margin-bottom: 40px;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
  }

  .hero__link {
    padding: 12px 19px;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
  }

  .hero__swiper {
    min-height: 310px;
  }

  .hero__swiper.swiper {
    max-width: 100%;
  }

  .aboutUs {
    padding-top: 24px;
    padding-bottom: 40px;
  }

  .aboutUs__title {
    margin-bottom: 14px;
    padding-top: 0;
  }

  .aboutUs__descr {
    font-size: 14px;
    line-height: 28px;
  }

  .gallery__contetnt {
    padding-bottom: 20px;
  }

  .gallery__filters {
    width: 100%;
  }

  .gallery__title {
    padding-top: 50px;
    margin-bottom: 12px;
  }

  .gallery__coptain {
    margin-bottom: 5px;
  }

  .gallery__choices {
    width: 100%;
    margin-bottom: 30px;
  }

  .gallery__swiper {
    padding-top: 30px;
    width: 100%;
  }

  .gallery__swiper {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    width: 100%;
  }

  .swiper__img {
    width: 100%;
  }

  .gallery__swiper .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
  }

  .gallery__swiper .swiper-navigation {
    margin-bottom: 0;
    padding-top: 5px;
  }

  .gallery {
    min-height: 800px;
    background-image: url(../img/gallery-img\(650\).png);
  }

  .catalog {
    padding-top: 50px;
  }

  .catalog__title {
    margin-bottom: 14px;
  }

  .catalog__descr {
    display: none;
  }

  .catalog__accordion {
    margin-bottom: 60px;
  }

  .ui-accordion .ui-accordion-header {
    padding: 19px 0;
  }

  .accordion__date {
    font-size: 18px;
    line-height: 32px;
  }

  .accordion-svg {
    width: 30px;
    height: 30px;
  }

  .accordion__bottom-text {
    flex-wrap: nowrap;
    min-height: 788px;
  }

  .ui-accordion .ui-accordion-content {
    padding-bottom: 0;
  }

  .catalog__content img {
    margin-right: 0;
    margin-bottom: 10px;
    height: 181px;
  }

  .catalog__name {
    margin-bottom: 15px;
  }

  .catalog__text {
    max-width: 100%;
  }

  .swiper__content {
    min-height: 677px;
  }

  .content__info::before {
    bottom: 81.6%;
    height: 52.8%;
  }

  .content__info {
    padding: 45% 20px 42px 20px;
  }

  .content__address {
    margin-bottom: 9px;
  }

  .content__title {
    margin-bottom: 5px;
  }

  .events__swiper .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
  }

  .events-pagination.swiper-horizontal>.swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal,
  .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: -39px;
    left: 7px;
  }

  .events-button-next {
    opacity: 0.6;
  }

  .projects {
    padding-top: 41px;
    padding-bottom: 20px;
  }

  .projects__title {
    margin-bottom: 12px;
  }

  .projects__descr {
    margin-bottom: 8px;
  }

  .projects__caption {
    margin-bottom: 12px;
    font-size: 18px;
    line-height: 32px;
  }

  .projects__swip {
    padding: 0 47px;
  }

  .projects__swip .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
  }

  .projects__slide {
    min-height: 62px;
  }

  .projects-img {
    height: 22px;
  }

  .contacts {
    padding-top: 30px;
    border-top: 0;
  }

  .contacts__address {
    height: 43px;
  }

  .contacts__address-name {
    margin-bottom: 0;
    font-size: 18px;
    line-height: 25px;
  }

  .contacts__address-home {
    font-size: 14px;
    line-height: 19px;
  }

  .contacts__container-input {
    width: 100%;
    margin-bottom: 19px;
  }

  .contacts__container-input:first-child {
    margin-right: 0;
  }

  .contacts__address {
    margin-bottom: 14px;
  }

  .contacts__input {
    min-width: 100%;
    padding: 12px 10px 9px 25px;
  }

  .address-btn {
    width: 44.5%;
    min-height: 41px;
    margin-bottom: 17px;
    font-size: 12px;
    line-height: 16px;
  }

  .address-btn span {
    display: none;
  }

  .js-validate-error-label {
    bottom: -24px;
    font-size: 12px;
  }

  .contacts__address-subtitle {
    display: block;
    margin-bottom: 8px;
    font-size: 18px;
    line-height: 32px;
    font-weight: 400;
  }

  .contacts__social-link svg {
    width: 49px;
    height: 49px;
  }

  .contacts__top {
    margin-bottom: 11px;
  }

  .contacts__map {
    height: 320px;
  }

  .ymaps-2-1-79-map {
    height: 320px;
  }

  .footer {
    min-height: 132px;
  }

  .footer__content {
    flex-direction: column-reverse;
    padding-top: 19px;
    padding-bottom: 0;
  }

  .footer__social {
    margin-bottom: 10px;
  }

  .footer__link svg {
    width: 50px;
    height: 50px;
  }

  .footer__image img {
    width: 97px;
    height: 22px;
  }

  .popup__content {
    width: 290px;
  }

  .popup__content {
    display: flex;
    flex-direction: column;
  }

  .popup__img img {
    max-width: 290px;
    max-height: 290px;
  }

  .popup__info {
    width: 100%;
    padding: 0 10% 20% 10%;
  }
}